{% extends "base.html" %}

{% block script %}
<script type="text/javascript" src="/js/dashboard.js">
</script>
{% endblock %}

{% block content %}
<h1>Calls Dashboard</h1>
<button id="createRoom">Create Room</button>
<table>
  <thead>
    <th>call name</th>
    <th>join call link</th>
    <th>call metrics</th>
    <th></th>
  </thead>
  {% for room in rooms %}
  <tbody>
    <tr>
      <td>{{ room.name }}</td>
      <td><a href="/calls/{{ room.name }}">join</a></td>
      <td><a href="/metrics/{{ room.name }}">metrics</a></td>
      <td><button class="deleteRoom" id="js-delete-{{ room.name }}">delete</button></td>
    </tr>
  </tbody>
  {% else %}
  <tbody>
    <tr>
      <td colspan=5 style="text-align: center;">
        no calls to display!
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
