{% extends "base.html" %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.18.2"></script>
<script type="text/javascript" src="/js/metrics.js"></script>
{% endblock %}

{% block content %}
  <h1>Metrics for room {{ roomName }}</h1>
  <div id="vis"></div>
    <table>
      <thead>
        <th>timestamp</th>
        <th>participant</th>
        <th>send kbps</th>
        <th>rec kbps</th>
        <th>send loss</th>
        <th>recv loss</th>
      </thead>
  {% for dataPoint in metrics %}
      <tbody>
        <tr>
          <td>{{ dataPoint.timestamp }}</td>
          <td>{{ dataPoint.session_id }}</td>
          <td>{{ (dataPoint.send_bps / 1000) | fixed }}</td>
          <td>{{ (dataPoint.recv_bps / 1000) | fixed }}</td>
          <td>{{ (dataPoint.send_packet_loss * 100) | fixed }}%</td>
          <td>{{ (dataPoint.recv_packet_loss * 100) | fixed }}%</td>
        </tr>
      </tbody>
  {% else %}
      <tbody>
        <tr>
          <td colspan=6 style="text-align: center;">no data stored!</td>
        </tr>
      </tbody>
  {% endfor %}
    </table>
  <p><a href="/">return to dashboard</a></p>
  <input id="roomName" type="hidden" value={{ roomName }}>
{% endblock %}
